include README.rst README.distributors COPYING INSTALL AUTHORS TODO ChangeLog
include MANIFEST.in
recursive-include examples *.py
recursive-include doc *.py *.txt *.rst *.png Makefile
prune doc/screenshots/thumbs
prune doc/_build
